<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1746f457b3.js" crossorigin="anonymous"></script>
    <title>Document</title>

</head>
<body>
    
    <div className="container">
                 
        <div class="final_box">
            <div class="final1">
                 <li>About Us</li>
                 <li>Our Mission</li>
                 <li>Our Teams</li>
                 <li>News</li>
                 <li>program</li>
            </div>
            <div class="final1">
                 <li>Visuals Arts&Books &Poems</li>
                 <li>Eco-Adventure program</li>
                 <li>STEAM Lecture Poems</li>
                 <li>Crafts & Cuisines Workshop</li>
                 <li>Art & Melody</li>
            </div>
            <div class="final1">
                  <button type="Submit">Completion</button>
                  <br/>
                  <li>Contacts us</li>
                  <li>1/17,BK PUDUR,JM Hostal</li>
                  <li>Coimbatore</li>
                  <li>Phone:+1 240 345 6789</li>
                  <li>Email:NagaArjun@gmail.com</li>
            </div>
            <div class="final1">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>


            </div>

        </div>

    </div>
</body>
</html>